.input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 70%;
  margin-top: 2rem;
}

.input-box {
  height: 70%;
  width: 60%;
  font-size: 1rem;
  text-indent: 2rem;
  border-radius: 100px;
  border: 1px solid white;
  outline: none;
  background-color: white;
}

.input-submit {
  height: 67%;
  width: 3rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  right: 21%;
  border: 1px solid #4e6190;
  background-color: #4e6190;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  flex-wrap: wrap;
}

.single-todo {
  display: flex;
  width: 79.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 1rem;
  background-color: white;
}

.single-todo-text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.single-todo-text:focus {
  outline: none;
}

.icon {
  margin-left: 15px;
  font-size: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 1130px) {
  .todos {
    width: 50%;
  }

  .single-todo {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .single-todo {
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 1rem;
  }

  .input-box {
    width: 100%;
  }

  .input-submit {
    right: 0.2%;
  }
}

@media only screen and (max-width: 600px) {
  .todos {
    width: 80%;
  }
}
