.input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 70%;
    margin-top: 2rem;
}

.input-box {
    height: 70%;
    width: 60%;
    font-size: 1rem;
    text-indent: 2rem;
    border-radius: 100px;
    border: 1px solid white;
    outline: none;
    background-color: white;
}

.input-submit {
    height: 67%;
    width: 3rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 100%;
    position: absolute;
    right: 21%;
    border: 1px solid #4e6190;;
    background-color: #4e6190;
}

.todos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}